@page
@model Result.Pages.IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Model.OptionA vs @Model.OptionB -- Result</title>
    <base href="/index.html">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Docker">
    <link rel='stylesheet' href='~/css/site.css' />
</head>
<body>
    <div id="background-stats">
        <div id="background-stats-1">
        </div>
        <!--
        -->
        <div id="background-stats-2">
        </div>
    </div>
    <div id="content-container">
        <div id="content-container-center">
            <div id="choice">
                <div class="choice resulta">
                    <div class="label">@Model.OptionA</div>
                    <div class="stat" id="optionA">50%</div>
                </div>
                <div class="divider"></div>
                <div class="choice resultb">
                    <div class="label">@Model.OptionB</div>
                    <div class="stat" id="optionB">50%</div>
                </div>
            </div>
        </div>
    </div>
    <div id="result">
        <span id="totalVotes">No votes yet</span>
    </div>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/results.js"></script>
</body>
</html>
